
.page{
    height: 98vh;
    width: 100%;
    background: radial-gradient(circle at 20% 20%, #233a6d 0%, #2e6be2 100%);
}
.bar{
    height: 15%;
    width: 99%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: end;
}
.mainNav{
    height: 70%;
    width: 80%;
    border: 2px solid black;
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(8px, 2vw, 15px);
    background: linear-gradient(90deg, #ff9800 0%, #ff6f00 100%);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(230, 81, 0, 0.18);
    color: #fff;
}
.gamepage{
    height: 85%;
    width: 99.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gamecont{
    height: 80vmin;
    width: 80vmin;
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
    background: linear-gradient(135deg, #2c3e50 40%, #3498db 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(255, 255, 255, 0.1);
    border: 5px solid white;
}   
.status{
    color: white;
    width: 80vmin;
    max-width: 480px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.currentscore p{
    font-size: clamp(15px ,2vw,20px);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.up{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.down{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.red{
    height: 80%;
    width: 40%;
    border-radius: 10px;
    background-color:#cc0404;
    border: 2px solid black;
    cursor: pointer;
}
.green{
    height: 80%;
    width: 40%;
    border-radius: 10px;
    background-color:#00A550 ;
    border: 2px solid black;
    cursor: pointer;
}

.blue{
    height: 80%;
    width: 40%;
    border-radius: 10px;
    background-color:#0072BB ;
    border: 2px solid black;
    cursor: pointer;
}
.yellow{
    height: 80%;
    width: 40%;
    border-radius: 10px;
    background-color:#cfb102 ;
    border: 2px solid black;
    cursor: pointer;
}
.yellow:active{
    background-color:#e6d470 ;
}
.blue:active{
    background-color:#009dff ;
}
.green:active{
    background-color:#00ff7b ;
}
.red:active{
    background-color:#d85555 ;
}