.page{
    background-color: #f9f1e4;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.topnav{
    width: 90%;
    padding: 7px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: clamp(50px ,7vw,100px);
}
.username{
    font-size: clamp(15px,2vw,30px);
}
.branding{
    font-size: clamp(10px,3vw,40px);
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ffe29f 0%, #ffa07a 100%);
}

.heading1 p{
    font-weight: 600;
    font-size: clamp(15px ,2vw,30px);
}
.gamecont{
    width: 95%;
    padding: 0 2.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.heading1{
    margin-left: 2.5%;
}
.g1{
    width: 20%;
    max-width: 150px; 
    padding: 10px;
    cursor: pointer;
}
.gamename{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamename p{
    font-size: clamp(10px,2vw,20px);
    margin: 3px;
    font-weight: 600;
}
.g1 img{
    width: 100%;
    border-radius: 15px;
}
.mainhomepage{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.topmainpage{
    height: 30%;
}
.greating{
    font-weight: 600;
    font-size: clamp(16px ,2vw,25px);
}
@media (max-width: 600px) {
  .topmainpage{
    height: 10%;
}
}