
.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98.3vh;
    font-family: 'Poppins', sans-serif;
}
.formcont p{
    font-weight: 800;
    font-size: clamp(14px, 2.5vw, 20px);
}
.formcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(213, 232, 235);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.usernamediv {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.formcont h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.inputcont{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.inputcont input {
    height: clamp(20px,2vw,30px);
    padding: 0 10px;
    border: 1.5px solid black;
    border-radius: 7px;
    font-size: 15px;
    padding: 7px 15px;
    background: none;
}
.inputcont input:focus{
    background-color: #ffffff;
}
.showpass{
    margin-top: 7px;
}
.showpasslabel{
    font-size:11px;
    margin-top: 5px;
}
.showpasscont{
    display: flex;
    margin-top: 10px;
}

.btn{
    font-weight: 550;
    font-size: clamp(15px , 2vw,16px);
    background-color:rgba(177, 235, 235, 0.836); 
    border: 0.1px solid black;
    border-radius: 6px;
    margin-top: 8px;
    padding: 3px 5px;
}
.error{
    color: red;
    font-weight: bold;
}
.login{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.login:hover{
    color: blue;
}

@media (max-width:415px) {


.cont{
    width: 60%;
    padding: 0 20%;
}
.btn{
    font-weight: 600;
}
}