
.cont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.formcont p{
    font-weight: 800;
    font-size: clamp(15px, 2.5vw, 20px);
}
.formcont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}
.inputcont input {
   width: 90%;
   height: 40px;
   padding: 0  20px;
   border: 1px solid black;
   border-radius: 25px;
}
.inputcont input:focus{
    background-color: #ffffff;
}
.showpass{
    margin-top: 7px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showpasslabel{
    font-size:11px;
    margin-top: 5px;
}
.showpasscont{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.btn{
    width: 110%;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    background-color:rgba(177, 235, 235, 0.836); 
    
}
.error{
    color: red;
    font-weight: bold;
}
.login{
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(12px, 2vw, 15px);
    color: black;
    margin-top: 5px;
}
.login:hover{
    color: blue;
}
.ancer{
    width: 100%;
}
@media (max-width:415px) {


.cont{
    width: 60%;
    padding: 0 20%;
}
.btn{
    font-weight: 600;
}
}